body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0 300px;
  background-color: rgb(240, 240, 240);
}

main {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(225, 225, 225);
}

section,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  font-size: 38px;
  color: rgb(35, 35, 35);
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
}

h2 {
  color: rgb(35, 35, 35);
  font-weight: 600;
  text-align: justify;
  margin: 30px 0;
}

p {
  margin: 15px 0 0 0;
  line-height: 30px;
  color: rgb(50, 50, 50);
  font-size: 18px;
  text-align: justify;
}

.h2-alt {
  color: rgb(220, 220, 220);
}

.p-alt {
  color: rgb(200, 200, 200);
}

.container {
  padding: 50px;
  background-color: white;
}

.container-alt {
  padding: 50px;
  background-color: rgb(30, 30, 30);
}

.blogMadeBy {
  font-size: 18px;
  font-weight: 600;
  color: rgb(35, 35, 35);
}

.about {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 600;
  font-size: 50px;
  color: rgb(35, 35, 35);
}

.section {
  font-size: 18px;
  font-weight: 600;
  color: rgb(50, 50, 50);
}

/* Responsive Design */

@media (max-width: 800px) {
  body {
    padding: 0;
  }

  main {
    border: none;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .container,
  .container-alt {
    padding: 30px;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  body {
    padding: 0 100px;
  }

  main {
    border: 1px solid rgb(225, 225, 225);
  }

  p {
    font-size: 15px;
    line-height: 22px;
  }

  .container,
  .container-alt {
    padding: 40px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  body {
    padding: 0 150px;
  }

  main {
    border: 1px solid rgb(225, 225, 225);
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .container,
  .container-alt {
    padding: 45px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  body {
    padding: 0 200px;
  }

  main {
    border: 1px solid rgb(225, 225, 225);
  }

  .container,
  .container-alt {
    padding: 45px;
  }
}
