body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0px 300px;
  background-color: rgb(240, 240, 240);
}

div {
  width: 100%;
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
}

section,
header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  font-size: 38px;
  color: rgb(35, 35, 35);
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
}

h2 {
  width: 100%;
  color: rgb(35, 35, 35);
  font-weight: 600;
  text-align: justify;
  margin: 30px 0;
}

p {
  width: 100%;
  margin: 15px 0 0 0;
  line-height: 30px;
  color: rgb(50, 50, 50);
  font-size: 18px;
  text-align: justify;
}

.h2-alt {
  color: rgb(220, 220, 220);
}

.p-alt {
  color: rgb(200, 200, 200);
}

.container {
  padding: 50px;
  background-color: white;
}

.container-alt {
  padding: 50px;
  background-color: rgb(30, 30, 30);
}

.about {
  text-align: center;
  margin: 0;
  color: rgb(35, 35, 35);
}

.about-ctn {
  padding: 50px;
  background-color: white;
}
